@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

/* layout */
:root {
  --primary: #1AAC83;
  --error: #E7195A;
}

body {
  background: #F1F1F1;
  margin: 0;
  font-family: "Poppens";
}

header {
  background: #FFF;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}